.point-label {
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    pointer-events: none;
}
.tooltip {
    color: #fff;
    padding: 10px;
    margin-left: 10px;
    max-width: 200px;
    position: absolute;
    pointer-events: none;
    background-color: #000000e7;
    border-radius: 15px;
}